/*  typography */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic&display=swap');

@font-face {
  font-family: 'BwNistaInt-xBd';
  src: url("../fonts/BwNistaInt-xBd.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

body {
  line-height: 1.5;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: $text-color;
}

p, .paragraph {
  margin-top: 16px;
  font-weight: 400;
  color: $text-color;
  font-size: 15px;
  line-height: 1.8;
  font-family: $secondary-font;
  &-lg{
    font-size: 22px;
  }
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-family: $secondary-font;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

h1, .h1{
  font-size: 2em;
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
  @include desktop {
    font-size: 65px;
  }
}

h2, .h2{
  font-size: 1.5em;
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
  @include desktop {
    font-size: 50px;
  }
}

h3, .h3{
  font-size: 1.25em;
}

h4, .h4{
  font-size: 1em;
}

h5, .h5{
  font-size: .875em;
}

h6, .h6{
  font-size: .657em;
}

table, .table{
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.th {
  font-weight: bold;
}

th, td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

tr, .tr{
  background-color: #fff;
  border-top: 1px solid #ccc;
}

tr, .tr:nth-child(2n) {
  background-color: #f8f8f8;
}